<mat-card class="cardCenter">
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <ngx-loading [show]="loading"></ngx-loading>
    <form [formGroup]="registerForm">
      <mat-input-container [ngClass]="{'error': registerForm.controls['username'].errors && !registerForm.controls['username'].pristine}"
        dividerColor="{{registerForm.controls['username'].errors && !registerForm.controls['username'].pristine ? 'warn' : 'primary'}}">
        <input type="username" matInput formControlName="username" placeholder="username" required>
        <div *ngIf="registerForm.controls['username'].errors && !registerForm.controls['username'].pristine" class="error-msg">
          <div [hidden]="!registerForm.controls['username'].errors.required">username is required.</div>
        </div>
      </mat-input-container>
      <mat-input-container [ngClass]="{'error': registerForm.controls['password'].errors && !registerForm.controls['password'].pristine}"
        dividerColor="{{registerForm.controls['password'].errors && !registerForm.controls['password'].pristine ? 'warn' : 'primary'}}">
        <input type="password" matInput formControlName="password" placeholder="Password" required>
        <div *ngIf="registerForm.controls['password'].errors && !registerForm.controls['password'].pristine" class="error-msg">
          <div [hidden]="!registerForm.controls['password'].errors.required">Password is required.</div>
        </div>
      </mat-input-container>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button class="btn" [disabled]="registerForm.invalid" (click)="register()">Register</button>
    <button mat-raised-button class="btn" [routerLink]="['/login']">Cancel</button>
  </mat-card-actions>
</mat-card>