<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <ngx-loading [show]="loading"></ngx-loading>
    <form [formGroup]="loginForm">
      <mat-input-container [ngClass]="{'error': loginForm.controls['username'].errors && !loginForm.controls['username'].pristine}" dividerColor="{{loginForm.controls['username'].errors && !loginForm.controls['username'].pristine ? 'warn' : 'primary'}}">
        <input type="username" matInput formControlName="username" placeholder="username" required>
        <div *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['username'].errors.required">username is required.</div>
        </div>
      </mat-input-container>
      <mat-input-container [ngClass]="{'error': loginForm.controls['password'].errors && !loginForm.controls['password'].pristine}"
        dividerColor="{{loginForm.controls['password'].errors && !loginForm.controls['password'].pristine ? 'warn' : 'primary'}}">
        <input type="password" matInput formControlName="password" placeholder="Password" required>
        <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
        </div>
      </mat-input-container>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button class="btn" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    <button mat-raised-button class="btn" [routerLink]="['/register']">Register</button>
  </mat-card-actions>
</mat-card>
